@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

// primary
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// neutral
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: rgb(163, 165, 174);
$veryLightGray: hsl(0, 0%, 98%);

// font-family 200,400,600
$poppins: "Poppins", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $poppins;
	font-size: 15px;
	width: 100%;
	background-color: $veryLightGray;
}

.container {
	width: auto;
	margin: 4rem 2rem;
}

.four-cards {
	max-width: 450px;
	margin: 0 auto;
	div {
		position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		padding: 1.75rem 1.5rem;
		margin-bottom: 1.75rem;
		box-shadow: 2px 7px 15px rgba(163, 165, 174, 0.6);
		overflow: hidden;
		h3 {
			margin-bottom: 0.5rem;
		}
		p {
			margin-bottom: 2rem;
			line-height: 1.75;
			font-size: 0.85rem;
		}
		img {
			align-self: flex-end;
		}
	}
	div::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 4px;
		width: 100%;
	}
}
.supervisor::before {
	background-color: $cyan;
}
.team-builder::before {
	background-color: $red;
}
.karma::before {
	background-color: $orange;
}
.calculator::before {
	background-color: $blue;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
}

.headingOne {
	font-weight: 200;
}

.headingTwo {
	margin-bottom: 1rem;
}

h1,
h3 {
	color: $veryDarkBlue;
}

.heading-desc {
	text-align: center;
	margin: 0 auto 4rem auto;
	max-width: 500px;
}

p {
	color: $grayishBlue;
}

@media (min-width: 1055px) {
	.four-cards {
		width: max-content;
		max-width: none;
		display: grid;
		grid-template-columns: max-content max-content max-content;
		grid-template-rows: auto auto;
		gap: 1.75rem;

		div {
			max-width: 311px;
			margin-bottom: 0rem;
		}
		.supervisor {
			transform: translateY(50%);
		}
		.team-builder {
			grid-row: 1 / span 1;
			grid-column: 2 / span 1;
		}
		.karma {
			grid-row: 2 / span 1;
			grid-column: 2 / span 1;
		}
		.calculator {
			// grid-column: 3 / span 1;
			transform: translateY(50%);
		}
	}
	.heading-desc {
		margin: 0 auto 4rem auto;
	}
	h1 {
		font-size: 2.25rem;
	}
}

@media (min-height: 730px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.container {
		margin: 0;
	}
}
